<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="/img/logo.png" width="300" />
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">New Wave Travel</a>
        </div>
    
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/students">All Students</a></li>
                    <li><a href="/customize-student">Add Student</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/staff">All Staff</a></li>
                    <li><a href="/customize-staff">Add Staff</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trips<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/trips">Browse Trips</a></li>
                    <li><a href="/customize-trip">Add Trip</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/features">All Features</a></li>
                    <li><a href="/customize-feature">Add Feature</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>