<div class="container">
   {{>menu}}
   <div class="row">
      <div class="col-sm-12">
         <h1>Study Abroad Management Tool</h1>
         <p>Welcome to New Wave Travel Agency! Please use the navigation bar above to use our site!</p>
         <br>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <h3>About Us</h3>
         <p>New Wave Travel Agency caters to university students who wish to take a gap year, semester abroad, homestay visit or experience around the world. Currently the New Wave Travel Agency is based in Oregon and works only with students from Oregon universities. It supports travel to 50 cities in Europe, South America, Asia and Australia. This database is used by administrative staff who need to track the approximately 2000 students that New Wave Travel Agency serves each year. Administrators can update this database when new trips are booked, they can also delete trips when students cancel their reservation. </p>
      </div>
   </div>
</div>
