      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <h1>New Wave Travel Agency Homepage</h1>
               <p>Welcome to New Wave Travel Agency! Please use the navigation bar below to use our site!</p>
               <br>
            </div>
         </div>
         {{>menu}}
         </div>
      </div>
